# Student Data Analysis with Pandas

This notebook explores a student performance dataset using Pandas and Matplotlib.

## 1. Load the dataset

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('../data/student.csv')
df.head()

## 2. Basic exploration

In [ ]:
df.info()

In [ ]:
df.describe()

## 3. Indexing and slicing

In [ ]:
df['name']

In [ ]:
df[['name','mark']]

In [ ]:
df.head(3)

In [ ]:
df[df['class'] == 'Four']

## 4. Data Manipulation

In [ ]:
# Add 'passed'
df['passed'] = df['mark'] >= 60

# Rename mark -> score
df.rename(columns={'mark':'score'}, inplace=True)

# Drop passed
df.drop(columns=['passed'], inplace=True)

df.head()

## 5. Grouping & Aggregation

In [ ]:
df.groupby('class')['score'].mean()

In [ ]:
df['class'].value_counts()

In [ ]:
df.groupby('gender')['score'].mean()

## 6. Pivot Table & Grades

In [ ]:
df.pivot_table(values='score', index='class', columns='gender')

In [ ]:
df['grade'] = pd.cut(
    df['score'],
    bins=[0,59,69,84,100],
    labels=['D','C','B','A']
)

df.head()

## 7. Sorting & Exporting

In [ ]:
df_sorted = df.sort_values(by='score', ascending=False)
df_sorted.head()

In [ ]:
df.to_csv('../data/student_with_grade.csv', index=False)

## 8. Visualisation

In [ ]:
plt.figure(figsize=(8,5))
df['score'].plot(kind='hist', bins=10)
plt.xlabel('Score')
plt.ylabel('Frequency')
plt.title('Distribution of Student Scores')
plt.grid(axis='y', alpha=0.3)
plt.show()

## 9. Conclusions

- This notebook demonstrates data loading, cleaning, transformation, grouping, and visualisation.