## ðŸ”§ Google Colab Setup
Mount Google Drive and set working directory so relative paths work.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import os
os.chdir('/content/drive/MyDrive/python-data-analysis-bootcamp/notebooks')
os.getcwd()

# Student Data Analysis with Pandas
This notebook explores a student performance dataset using Python.

## 1. Load the dataset

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('../data/student.csv')
df.head()

## 2. Basic exploration

In [ ]:
df.info()

In [ ]:
df.describe()

## 3. Indexing and slicing

In [ ]:
df['name']

In [ ]:
df[['name','mark']]

In [ ]:
df.head(3)

In [ ]:
df[df['class']=='Four']

## 4. Data manipulation

In [ ]:
df['passed']=df['mark']>=60
df.rename(columns={'mark':'score'}, inplace=True)
df.drop(columns=['passed'], inplace=True)
df.head()

## 5. Aggregation and grouping

In [ ]:
df.groupby('class')['score'].mean()

In [ ]:
df['class'].value_counts()

In [ ]:
df.groupby('gender')['score'].mean()

## 6. Pivot table and grade assignment

In [ ]:
df.pivot_table(values='score', index='class', columns='gender')

In [ ]:
df['grade']=pd.cut(df['score'], bins=[0,59,69,84,100], labels=['D','C','B','A'])
df.head()

## 7. Sorting and exporting

In [ ]:
df_sorted=df.sort_values(by='score', ascending=False)
df_sorted.head()

In [ ]:
df.to_csv('../data/student_with_grade.csv', index=False)

## 8. Visualisation

In [ ]:
plt.figure(figsize=(8,5))
df['score'].plot(kind='hist', bins=10)
plt.xlabel('Score'); plt.ylabel('Frequency'); plt.title('Distribution of Scores'); plt.grid(axis='y', alpha=0.3); plt.show()

In [ ]:
plt.figure(figsize=(8,5))
df.groupby('class')['score'].mean().plot(kind='bar')
plt.ylabel('Average Score'); plt.title('Average Score by Class'); plt.xticks(rotation=0); plt.grid(axis='y', alpha=0.3); plt.show()

## 9. Conclusions
Summary of findings from student performance data.